/* Your code here */
.coverImg
{
    height: 100px;
    width: 100px;
    margin: 30px;
    cursor: pointer;
    
}

*
{
    background-color: aqua;
}

.songs
{
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 5px 10px;
    

}
.firstSongGroup
{
    display: table-cell;
}

.secondSongGroup
{
    display: table-cell;
}

.active
{
    border-radius: 100%;
}

.liveSong
{
    right: 0px;
    position: absolute;
    width: 200px;
    height: 200px;
}

.songButton
{
    width: 75px;
    height: 20px;
    background: green;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}