/* Your code here */
.coverImg
{
    height: 100px;
    width: 100px;
    margin: 30px;
}
*
{
    background-color: aqua;
}

.songs
{
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 5px 10px;
    

}

.active
{
    background-color: green;
}