/* Your code here */
.coverImg
{
    height: 100px;
    width: 100px;
    margin: 30px;
    margin-left: -50px;
}
*
{
    background-color: aqua;
}

.songs
{
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 5px 10px;
    

}

.active
{
    border-radius: 100%;
}

.liveSong
{
    text-align: right;
    position: absolute;
    width: 200px;
    height: 200px;
}